@use '@angular/material' as mat;

@include mat.core();

$custom-primary: mat.define-palette(mat.$blue-palette);
$custom-accent: mat.define-palette(mat.$yellow-palette);
$custom-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme((
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn
    )
   ));


@include mat.all-component-themes($custom-theme);